:root {
    --pink-color: #CE0056;
    --lightPink-color: #FF4888;
    --black-color: #111111;
    --white-color: #FFFFFF;
    --lightGrey-color: #7F8487;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.containerLogin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBackground {
    width: 100%;
    height: 100vh;
    min-width: 320px;
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blackTransparency {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 320px;
    background: rgba(0, 0, 0, 0.17);
    border: none;
}

.sectionForm {
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 550px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgLogo {
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divInputUser,
.divInputPassword {
    width: 100%;
    display: flex;
    align-items: end;
}

.spanIconUser,
.spanIconPassword {
    width: 37px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color: var(--white-color);
}

.inputIconUser,
.inputIconPassword {
    width: 25px;
    height: 25px;
}

.inputEmail,
.inputPassword {
    width: 100%;
    height: 40px;
    font-family: 'Nunito', sans-serif;
    margin-top: 40px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    padding-left: 6px;
}

.inputEmail::placeholder,
.inputPassword::placeholder {
    color: var(--lightGrey-color);
    font-family: 'Nunito', sans-serif;
    font-size: 1.0rem;
    font-weight: 600;
}

.msgEmailPassword {
    font-size: 1.2rem;
    color: red;
    padding: 0px 15px;
    text-align: center;
}

.buttonSignIn {
    width: 100%;
    height: 40px;
    margin-top: 62px;
    background-color: var(--pink-color);
    border-radius: 5px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white-color);
}

.buttonSignIn:hover {
    background-color: var(--lightPink-color);
}

.sectionLinks {
    display: inline-flex;
    margin-top: 8px;
}

.createAccount a,
.forgotPassword a {
    text-decoration: none;
    color: var(--white-color);
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

.createAccount {
    margin-right: 30px;
}

.forgotPassword a {
    font-style: italic;
}

.createAccount a:hover,
.forgotPassword a:hover {
    color: var(--pink-color);
}

.sectionConnectWith {
    display: flex;
    align-items: center;
    margin: 43px 0px 15px;
}

.line1,
.line2 {
    width: 80px;
    border-top: 1px solid var(--white-color)
}

.othersAccess {
    padding: 0px 15px;
    color: var(--white-color);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.sectionIconApp {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.imgIconFacebook,
.imgIconGoogle {
    width: 40px;
    cursor: pointer;
}

.imgIconFacebook:hover,
.imgIconGoogle:hover {
    transform: scale(1.1);
}